@model List<Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-body">
    <a class="btn btn-success" href="@Url.Action("Create","Mantenedor")">Create new</a>
    <hr />
    <table class="table-bordered table">
        <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th style="width:150px">Options</th>
           </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.Email</td>
                    <td>@contact.Phone</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Update","Mantenedor",contact)">Update</a>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Delete","Mantenedor",new {idContact = contact.IdContact})">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>